* {
  margin: 0;
  padding: 0;
}

.main-haeder {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 163px; */
  /* margin-top: 110px; */
  /* font-size: 70px; */
  color: orange;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}